<div class="flex items-center">
  <%= image_tag 'logo.png', class: 'h-full max-h-20 w-auto' %>
  <%= link_to 'HARMONAI', static_pages_top_path, class: 'ml-4 text-gray-400 text-2xl font-bold' %>
</div>
