<div>
  <div class="flex justify-between mb-4">
    <%= link_to "ジャンルで選ぶ", musicquiz_genre_path, class: "bg-blue-500 text-white py-2 px-4 rounded flex-grow mx-2 text-center" %>
    <%= link_to "作品で選ぶ", musicquiz_work_path, class: "bg-blue-500 text-white py-2 px-4 rounded flex-grow mx-2 text-center" %>
    <%= link_to "歌手で選ぶ", musicquiz_artist_path, class: "bg-blue-500 text-white py-2 px-4 rounded flex-grow mx-2 text-center" %>
  </div>
</div>
