<div class="h-screen flex flex-col justify-center items-center text-center bg-customblue">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-md text-black mb-8">
<h1 class="text-2xl font-semibold mb-6">アニメ/特撮クイズ</h1>

<!-- play.html.erb または show_result.html.erb -->
<% if @correct_answer && @correct_answer[:preview_url].present? %>
  <p class="text-lg mb-2">曲を再生してみましょう:</p>
  <audio controls class="mb-4">
    <source src="<%= @correct_answer[:preview_url] %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
<% else %>
  <p class="text-red-500">曲のプレビューが利用できません。</p>
<% end %>


    <!-- クイズの選択肢表示部分 -->
    <div id="quiz-options" class="mb-6">
      <p class="text-lg mb-4">この曲のタイトルはどれでしょう？</p>
      <% if @options.present? %>
        <%= form_with url: show_result_path, method: :get, local: true do |form| %>
          <% @options.each do |option| %>
            <%= form.submit option, name: "selected_answer", value: option, class: "bg-blue-500 text-white py-2 px-4 rounded mb-2" %>
          <% end %>
        <% end %>
      <% else %>
        <p class="text-lg">選択肢が見つかりませんでした。</p>
      <% end %>
    </div>
  </div>
</div>
