<!-- app/views/musicquiz/genre.html.erb -->
<div class="h-screen flex flex-col justify-center items-center text-center bg-customblue">
  <div class="bg-white p-8 rounded shadow-md  text-black">
    <h1 class="text-2xl font-semibold mb-6" style="font-size: calc(1rem + 1vw);">ボタンを押したらクイズが始まります</h1>

    <div class="flex justify-around mb-4">
      <a class="bg-blue-500 text-white py-2 px-4 rounded  mx-1 text-center" href="/musicquiz/play/jpop">トップ50(今、日本で再生回数が一番多い曲 )</a>
      <a class="bg-blue-500 text-white py-2 px-4 rounded  mx-1 text-center" href="/musicquiz/play/kpop">バイラルトップ50（今、日本のSNSで一番話題の曲）</a>
    </div>
  </div>
</div>
