<div class="h-screen flex flex-col justify-center items-center text-center bg-customblue">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-sm text-black">
        <%= render 'musicquiz/musicquiz_header' %>
        <%= render 'musicquiz/select_button_form' %>
    </div>
</div>
