<p class="text-lg mb-4 text-left text-customblue">
  Spotify APIを利用して、ユーザーがジャンル別のイントロクイズを楽しめる音楽体験アプリです。好きなジャンル（J-Pop、K-Pop、アニソン、ロック、ポップなど）を選択することで、Spotifyの広範な音楽データベースから該当ジャンルの楽曲がランダムに出題されます。クイズで正解した楽曲はアプリ内の「正解プレイリスト」に自動的に追加され、後から再生や振り返りを楽しむことができます。
</p>
