<h2 class="text-2xl text-customred font-semibold mb-4">主な機能</h2>
<ul class="list-disc list-inside mb-6 text-left text-customblue">
  <li>声質診断</li>
  <li>パーソナライズされたプレイリスト作成</li>
  <li>カラオケ向け楽曲提案</li>
  <li>アーティストの提案</li>
</ul>
