<h2 class="text-2xl font-semibold mb-4 text-customred">使い方</h2>
<p class="text-lg mb-4 text-customblue">
  まずはアプリにログインし、マイクに向かって歌を歌ってください。アプリがあなたの声を診断し、声質に最適なアーティストや楽曲を提案します。さらに、パーソナライズされたプレイリストやカラオケでの曲選びもサポートします。
</p>
